PORT = 3003
HOST = localhost

POSTGRES_HOST = db
POSTGRES_PORT = 5432
POSTGRES_USER = postgres
POSTGRES_PASSWORD = admin
POSTGRES_DB = ieee_ies_db

JWT_SECRET =  chaveboladadiretodapenhaemanguinhos_ies
JWT_EXPIRES_IN = 7d